:root {
  /* Light theme */
  --color-l-background: #ffffff;
  --color-l-foreground: #525252;
  --color-l-accent: #5D3FD3;

  /* Dark theme */
  --color-d-background: #0c0a09;
  --color-d-foreground: #5D3FD3;
  --color-d-accent: #5D3FD3;
  --color-primary-subtle: #5D3FD3;
  --c-deep-green: #BBB3D5;
  --tw-prose-body: #C8B8FF;
}

 .graph-view.color-class {
	/* Supports all CSS color directives, like #HEX, rgb and rgba */
	color:   #5D3FD3;
	/* Opacity (similar to rgba) will make the color transparent */
	opacity: 0.5;
}
